<section class="container">
    <div id="headline" class="text-center mb-4">
        <h1 >Marvel Api Project</h1>
        <div class="row justify-content-center">
            <p class="col-8">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-8" id="hero-image"></div>
    </div>
</section>